@font-face {
    font-family: "Forno-Trial";
    src: url("/fonts/Forno-Trial-Bold.woff2") format("woff2"), url("/fonts/Forno-Trial-Bold.woff") format("woff"),
        url("/fonts/Forno-Trial-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Helvetica-bold-oblique";
    src: url("/fonts/Helvetica-BoldOblique.woff2") format("woff2"),
        url("/fonts/Helvetica-BoldOblique.woff") format("woff"),
        url("/fonts/Helvetica-BoldOblique.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica-light";
    src: url("/fonts/Helvetica-Light.woff2") format("woff2"), url("/fonts/Helvetica-Light.woff") format("woff"),
        url("/fonts/Helvetica-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica";
    src: url("/fonts/Helvetica.woff2") format("woff2"), url("/fonts/Helvetica.woff") format("woff"),
        url("/fonts/Helvetica.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SFProText";
    src: url("/fonts/SFProText-Medium.woff2") format("woff2"), url("/fonts/SFProText-Medium.woff") format("woff"),
        url("/fonts/SF-Pro-Text-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica-oblique";
    src: url("/fonts/Helvetica-Oblique.woff2") format("woff2"), url("/fonts/Helvetica-Oblique.woff") format("woff"),
        url("/fonts/Helvetica-Oblique.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica-compressed";
    src: url("/fonts/Helvetica-Compressed.woff2") format("woff2"),
        url("/fonts/Helvetica-Compressed.woff") format("woff"),
        url("/fonts/helvetica-compressed.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica-rounded-bold";
    src: url("/fonts/HelveticaRounded-Bold.woff2") format("woff2"),
        url("/fonts/HelveticaRounded-Bold.woff") format("woff"),
        url("/fonts/helvetica-rounded-bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica-bold";
    src: url("/fonts/Helvetica-Bold.woff2") format("woff2"), url("/fonts/Helvetica-Bold.woff") format("woff"),
        url("/fonts/Helvetica-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "campton-light";
    src: url("/fonts/CamptonLight.woff2") format("woff2"), url("/fonts/CamptonLight.woff") format("woff"),
        url("/fonts/CamptonLight.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
